<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
import Widget from '../widget/index.vue';
import axios from 'axios';

function getCurrentTime() {
  return new Date().toLocaleTimeString('en-US', { hour12: false, hour: 'numeric', minute: 'numeric'});
}

export default {
  components: { Widget },
  extends: Widget,
  name: 'DailyDilbert',
  props: {
    name: String,
    interval: {
      type: Number,
      default: 86400000
    },
    timeout: {
      type: Number,
      default: 50000
    },
    col: {
      type: Number,
      // validator: value => {
      //   return value === '2'
      // }
    },
    row: {
      type: Number
    }
  },
  created() {
    this.fetchStatus();

    setInterval(() => {
      this.fetchStatus();
    }, this.interval);
  },
  methods: {
    fetchStatus() {
      this.loadingLocal = true;

      axios.get(`/api/daily-dilbert`, {
        timeout: this.timeout
      })
      .then(response => {
        this.loadingLocal = false;
        this.alt = response.data.alt;
        this.src = response.data.src;
      });
      // .catch(error => {
      //   this.loadingLocal = false;
      //   console.log(error.code)
      //   console.log(error.status)
      //   this.status = 'down';
      //   this.updatedAtLocal = getCurrentTime();
      // });
    }
  },
  data: function() {
    return {
      alt: null,
      src: null,
      loadingLocal: false
    }
  }
}
</script>