.github-pull-request .Widget-content {
  justify-content: initial;
}

.github-pull-request-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.github-pull-request-item {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 10px 0;
}

.github-pull-request-item a {
  color: white;
  text-decoration: none;
}

.github-pull-request-avatar {
  position: relative;
  top: 4px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}