<Widget
  v-bind:title="title"
  v-bind:col="col"
  v-bind:row="row"
  v-bind:updatedAt="updatedAtLocal"
  v-bind:loading="loadingLocal"
  v-bind:class="['github-pull-request']"
>
  <ul class="github-pull-request-list">
    <li v-for="pr in prs" class="github-pull-request-item">
      <a :href="pr.url" :title="pr.title" target="_blank">
        <img class="github-pull-request-avatar" :src="pr.user.avatar_url" />
        <span>{{pr.title}}</span>
      </a>
    </li>
  </ul>
</Widget>