<template>
  <div id="app">
    <div class="container">
      <template v-for="(child, index) in children">
        <component :is="child.component" v-bind="child.props" :key="index"></component>
      </template>
      <!-- <Widget title="1" col="2" />
      <Widget title="2" row="3" />
      <Widget title="3" />
      <Widget title="4" />
      <Widget title="5" />
      <Widget title="6" />
      <Widget title="7" />
      <Widget title="8" /> -->
    </div>
  </div>
</template>

<script>
import Widget from './components/widget/index.vue';
import ServerStatus from './components/server-status/index.vue';
import Teammood from './components/teammood/index.vue';
import Iframe from './components/iframe/index.vue';
import DailyDilbert from './components/daily-dilbert/index.vue';
import Countdown from './components/countdown/index.vue';
import GithubPullRequest from './components/github-pull-request/index.vue';

export default {
  name: 'app',
  data: function() {
    return {
      children: [
        // {
        //   component: Widget,
        //   props: {
        //     title: '1',
        //     col: '2'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '2',
        //     row: '2'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '3'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '4'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '5'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '6'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '7'
        //   }
        // },
        // {
        //   component: Widget,
        //   props: {
        //     title: '8'
        //   }
        // },
        {
          component: DailyDilbert,
          props: {
            col: 3,
            row: 2
          }
        },
        {
          component: Countdown,
          props: {
            title: 'D-Day Countdown!',
            date: 'Jun 27 2018'
          }
        },
        {
          component: Teammood,
          props: {
            col: 1,
            row: 1,
            title: 'Digital moods'
          }
        },
        {
          component: Iframe,
          props: {
            col: 3,
            row: 2,
            url: 'https://time.graphics/embed?v=1&id=59478'
          }
        },
        {
          component: ServerStatus,
          props: {
            name: 'Vandebron website',
            url: 'https://vandebron.nl'
          }
        },
        {
          component: ServerStatus,
          props: {
            name: 'Payment Gateway API',
            url: 'https://payments.vandebron.nl/health'
          }
        },
        {
          component: GithubPullRequest,
          props: {
            title: 'Open Pull Requests',
            col: 1,
            row: 2,
            owner: 'Vandebron',
            repository: 'vandebron',
            // author: 'brunoqueiros'
          }
        }
        // {
        //   component: ServerStatus,
        //   props: {
        //     col: 2,
        //     row: 2,
        //     sites: [
        //       {
        //         name: 'Vandebron website',
        //         url: 'https://vandebron.nl'
        //       },
        //       {
        //         name: 'Payment Gateway API',
        //         url: 'https://payments.vandebron.nl/health'
        //       },
        //       {
        //         name: 'Referral tool (vrienden.vandebron.nl)',
        //         url: 'https://vrienden.vandebron.nl'
        //       }
        //     ]
        //   }
        // }
        // {
        //   component: Iframe,
        //   props: {
        //     col: 3,
        //     row: 2,
        //     url: 'https://www.powr.io/plugins/countdown-timer/view?unique_label=6dcc71b6_1519046461&external_type=iframe'
        //   }
        // }
      ]
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1b232f;
  padding: 10px;
}

body.theme-light {
  background-color: #f5f7fb;
}

.container {
  box-sizing: border-box;
  /* margin: 0 auto;
  width: 1190px; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  height: 97vh;
  display: grid;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: repeat(6, calc(calc(100%/6) - 8px));
  grid-template-rows: repeat(6, calc(calc(100%/6) - 9px));
  grid-gap: 10px;
}

@media (min-width: 2000px) {
  .container {
    grid-template-columns: repeat(9, calc(calc(100%/9) - 8px));
    grid-template-rows: repeat(7, calc(calc(100%/7) - 9px));
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

</style>
