@import "../../variables.css";

.grid {
  margin: 0 auto;
  padding-top: 5px;
  display: grid;
  grid-gap: var(--grid-gap);
}

.grid--720p {
  width: var(--breakpoint-720p-width);
  height: var(--breakpoint-720p-height);
  grid-template-columns: repeat(var(--breakpoint-720p-columns), calc(calc(100% / var(--breakpoint-720p-columns)) - var(--grid-gap)));
  grid-template-rows: repeat(var(--breakpoint-720p-rows), calc(calc(100% / var(--breakpoint-720p-rows)) - var(--grid-gap)));
}

.grid--1080p {
  width: var(--breakpoint-1080p-width);
  height: var(--breakpoint-1080p-height);
  grid-template-columns: repeat(var(--breakpoint-1080p-columns), calc(calc(100% / var(--breakpoint-1080p-columns)) - var(--grid-gap)));
  grid-template-rows: repeat(var(--breakpoint-1080p-rows), calc(calc(100% / var(--breakpoint-1080p-rows)) - var(--grid-gap)));
}

.grid--1440p {
  width: var(--breakpoint-1440p-width);
  height: var(--breakpoint-1440p-height);
  grid-template-columns: repeat(var(--breakpoint-1440p-columns), calc(calc(100% / var(--breakpoint-1440p-columns)) - var(--grid-gap)));
  grid-template-rows: repeat(var(--breakpoint-1440p-rows), calc(calc(100% / var(--breakpoint-1440p-rows)) - var(--grid-gap)));
}

.grid--2160p {
  width: var(--breakpoint-2160p-width);
  height: var(--breakpoint-2160p-height);
  grid-template-columns: repeat(var(--breakpoint-2160p-columns), calc(calc(100% / var(--breakpoint-2160p-columns)) - var(--grid-gap)));
  grid-template-rows: repeat(var(--breakpoint-2160p-rows), calc(calc(100% / var(--breakpoint-2160p-rows)) - var(--grid-gap)));
}
