<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
export default {
  name: 'Widget',
  props: {
    updatedAt: String,
    loading: Boolean,
    title: {
      default: '',
      type: String
    },
    row: {
      default: 1,
      // type: Number
    },
    col: {
      default: 1,
      // type: Number
    }
  }
}
</script>