.Widget {
  display: flex;
  flex-direction: column;
  background-color: #2e3b4a;
  color: #a5adb6;
  overflow: hidden;
}

.Widget-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #455363;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.theme-light .Widget {
  color: #495057;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.Widget-title {
  text-align: center;
  flex: 1;
}

.Widget-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.Widget-updated-at {
  font-size: 13px;
  margin-bottom: 10px;
}

.Widget--col-1 { grid-column: span 1; }
.Widget--col-2 { grid-column: span 2; }
.Widget--col-3 { grid-column: span 3; }
.Widget--col-4 { grid-column: span 4; }
.Widget--col-5 { grid-column: span 5; }
.Widget--col-6 { grid-column: span 6; }
.Widget--col-7 { grid-column: span 7; }
.Widget--col-8 { grid-column: span 8; }

.Widget--row-1 { grid-row: span 1; }
.Widget--row-2 { grid-row: span 2; }
.Widget--row-3 { grid-row: span 3; }
.Widget--row-4 { grid-row: span 4; }
.Widget--row-5 { grid-row: span 5; }
.Widget--row-6 { grid-row: span 6; }
.Widget--row-7 { grid-row: span 7; }
.Widget--row-8 { grid-row: span 8; }