<div
  v-bind:class="['Widget', `Widget--col-${col}`, `Widget--row-${row}`]"
>
  <template v-if="!loading">
    <div class="Widget-header" v-if="title !== ''">
      <span class="Widget-title">{{ title }}</span>
      <!-- <span class="Widget-options">
        <i class="fas fa-cog"></i>
      </span> -->
    </div>
    <div class="Widget-content">
      <slot></slot>
    </div>
    <span class="Widget-updated-at" v-if="updatedAt">Last updated at {{ updatedAt }}</span>
  </template>

  <span v-if="loading">Loading...</span>
</div>