<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
import Widget from '../widget/index.vue';
import axios from 'axios';

function getCurrentTime() {
  return new Date().toLocaleTimeString('en-US', { hour12: false, hour: 'numeric', minute: 'numeric'});
}

export default {
  components: { Widget },
  extends: Widget,
  name: 'Teammood',
  props: {
    name: String,
    url: String,
    interval: {
      type: Number,
      default: 300000
    },
    timeout: {
      type: Number,
      default: 50000
    },
    col: {
      type: Number,
      // validator: value => {
      //   return value === 2
      // }
    },
    row: {
      type: Number
    }
  },
  created() {
    this.fetchStatus();

    setInterval(() => {
      this.fetchStatus();
    }, this.interval);
  },
  methods: {
    fetchStatus() {
      const moodsMap = {
        'excellent': 'thumbs-up',
        'good': 'smile',
        'average': 'meh',
        'hard': 'frown',
        'bad': 'thumbs-down'
      };
      this.loadingLocal = true;

      axios.post(`/api/teammood`, {
        timeout: this.timeout
      })
      .then(response => {
        this.loadingLocal = false;
        this.moods = response.data.moods.map(mood => {
          mood.cssClass = moodsMap[mood.mood];

          return mood;
        });
        this.updatedAtLocal = getCurrentTime();
      })
      // .catch(error => {
      //   this.loadingLocal = false;
      //   console.log(error.code)
      //   console.log(error.status)
      //   this.status = 'down';
      //   this.updatedAtLocal = getCurrentTime();
      // });
    }
  },
  data: function() {
    return {
      updatedAtLocal: null,
      moods: null,
      loadingLocal: false
    }
  }
}
</script>