.teammood {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.teammood-icons {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.teammood-icon {
  font-size: 3em;
}

.fa-thumbs-up {
  color: #1abc9c;
}

.fa-smile {
  color: #5c91df;
}

.fa-meh {
  color: #f1c40f;
}

.fa-frown {
  color: #ff7a23;
}

.fa-thumbs-down {
  color: #e82f4b;
}