<Widget
  v-bind:title="title"
  v-bind:col="col"
  v-bind:row="row"
  v-bind:updatedAt="updatedAtLocal"
  v-bind:loading="loadingLocal"
  v-bind:class="['teammood']"
>
  <div class="teammood-icons">
    <span v-for="mood in moods" class="teammood-icon">
      <i v-bind:class="['fa', `fa-${mood.cssClass}`]"></i>
    </span>
  </div>
</Widget>