<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
import Widget from '../widget/index.vue';

export default {
  components: { Widget },
  extends: Widget,
  name: 'Iframe',
  props: {
    name: String,
    url: String,
    col: {
      type: Number,
      // validator: value => {
      //   return value === 2
      // }
    },
    row: {
      type: Number
    }
  },
  data: function() {
    return {
      url: ''
    }
  }
}
</script>