<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
import Widget from '../widget/index.vue';
import axios from 'axios';

function getCurrentTime() {
  return new Date().toLocaleTimeString('en-US', { hour12: false, hour: 'numeric', minute: 'numeric'});
}

export default {
  components: { Widget },
  extends: Widget,
  name: 'ServerStatus',
  props: {
    name: String,
    url: String,
    interval: {
      type: Number,
      default: 1800000
    },
    timeout: {
      type: Number,
      default: 50000
    },
    col: {
      type: Number,
      // validator: value => {
      //   return value === 2
      // }
    },
    row: {
      type: Number
    }
  },
  created() {
    this.fetchStatus();

    setInterval(() => {
      this.fetchStatus();
    }, this.interval);
  },
  methods: {
    fetchStatus() {
      if (this.url) {
        this.loadingLocal = true;

        axios.get(`/api/server-status?site=${this.url}`, {
          timeout: this.timeout
        })
        .then(response => {
          this.loadingLocal = false;
          // console.log(response)
          this.status = response.status === 200 ? 'up' : 'down';
          this.updatedAtLocal = getCurrentTime();
        })
        .catch(error => {
          this.loadingLocal = false;
          // console.log(error.code)
          // console.log(error.status)
          this.status = 'down';
          this.updatedAtLocal = getCurrentTime();
        });
      }
    }
  },
  data: function() {
    return {
      updatedAtLocal: null,
      status: null,
      loadingLocal: false
    }
  }
}
</script>