.server-status { 
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}

.server-status .Widget-content {
  justify-content: space-around;
}

.server-status-status {
  font-size: 50px;
  text-transform: uppercase;
}

.server-status-updated-at {
  font-size: 13px;
}

.is-up {
  background-color: #01a83f;
}

.is-down {
  background-color: #e82f4b;
}

.fa-circle {
  color: #01a83f;
}

.fa-times {
  color: #e82f4b;
}