<Widget
  v-bind:title="title"
  v-bind:col="col"
  v-bind:row="row"
  v-bind:updatedAt="updatedAtLocal"
  v-bind:class="['server-status', `is-${status}`]"
  v-bind:loading="loadingLocal"
>
  <span class="server-status-name">{{ name }}</span>
  <span class="server-status-status">{{ status }}</span>
</Widget>