@import "../../variables.css";

.widget {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.widget-title {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  justify-self: start;
}

.widget-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.widget--col-1 { grid-column: span 1; }
.widget--col-2 { grid-column: span 2; }
.widget--col-3 { grid-column: span 3; }
.widget--col-4 { grid-column: span 4; }
.widget--col-5 { grid-column: span 5; }
.widget--col-6 { grid-column: span 6; }
.widget--col-7 { grid-column: span 7; }
.widget--col-8 { grid-column: span 8; }

.widget--row-1 { grid-row: span 1; }
.widget--row-2 { grid-row: span 2; }
.widget--row-3 { grid-row: span 3; }
.widget--row-4 { grid-row: span 4; }
.widget--row-5 { grid-row: span 5; }
.widget--row-6 { grid-row: span 6; }
.widget--row-7 { grid-row: span 7; }
.widget--row-8 { grid-row: span 8; }

.widget--no-padding {
  padding: 0;
}
