<style src="./style.css" scoped></style>
<template src="./template.html"></template>
<script>
import Widget from '../widget/index.vue';

function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t / 1000) % 60 );
  var minutes = Math.floor( (t / 1000 /60) % 60 );
  var hours = Math.floor( (t / (1000 * 60 * 60)) % 24 );
  var days = Math.floor( t / (1000 * 60 * 60 * 24) );

  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

export default {
  components: { Widget },
  extends: Widget,
  name: 'Countdown',
  props: {
    name: String,
    date: String
  },
  created() {
    this.updateTimeremaining();

    setInterval(() => {
      this.updateTimeremaining();
    }, this.interval);
  },
  methods: {
    updateTimeremaining() {
      this.timeRemaining = getTimeRemaining(new Date(this.date));
    }
  },
  data: function() {
    let timeRemaining = getTimeRemaining(new Date(this.date));

    return {
      timeRemaining: timeRemaining
    }
  }
}
</script>