.countdown {
  display: flex;
  flex-direction: column;
}

.clock {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.clock > div {
  padding: 10px;
  border-radius: 3px;
  /* background: #00BF96; */
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.clock div > span{
  padding: 15px;
  border-radius: 3px;
  background-color: #1b232f;
  /* background-color: #00816A; */
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}