<Widget
  v-bind:title="title"
  col="2"
  row="1"
  class="countdown"
>
  <div class="clock">
    <div>
      <span class="days">{{timeRemaining.days}}</span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours">{{timeRemaining.hours}}</span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes">{{timeRemaining.minutes}}</span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds">{{timeRemaining.seconds}}</span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
</Widget>