:root {
  --color-primary: #2e3b4a;
  --color-grey: #455d7a;
  --color-blue: #3498db;
  --color-yellow: #1c40f;
  --color-red: #db3434;
  --color-green: #1fab89;
  --color-white: #ecf0f1;

  --grid-gap: 10px;

  --breakpoint-720p-width: 1240px;
  --breakpoint-720p-height: 720px;
  --breakpoint-720p-columns: 5;
  --breakpoint-720p-rows: 4;

  --breakpoint-1080p-width: 1900px;
  --breakpoint-1080p-height: 1080px;
  --breakpoint-1080p-columns: 7;
  --breakpoint-1080p-rows: 5;

  --breakpoint-1440p-width: 2520px;
  --breakpoint-1440p-height: 1440px;
  --breakpoint-1440p-columns: 10;
  --breakpoint-1440p-rows: 6;

  --breakpoint-2160p-width: 3800px;
  --breakpoint-2160p-height: 2160px;
  --breakpoint-2160p-columns: 12;
  --breakpoint-2160p-rows: 6;
}
