<Widget
  v-bind:title="title"
  v-bind:col="col"
  v-bind:row="row"
  v-bind:updatedAt="updatedAtLocal"
  v-bind:class="['server-status', `is-${status}`]"
  v-bind:loading="loadingLocal"
>
  <template v-if="!sitesStatus">
    <span class="server-status-name">{{ name }}</span>
    <span class="server-status-status">{{ status }}</span>
  </template>

  <template v-if="sitesStatus">
    <span v-for="site in sitesStatus" class="server-status-name">
      <i v-if="site.status === 'down'" class="fa fa-times"></i>
      <i v-if="site.status === 'up'" class="fa fa-circle"></i>
      {{site.name}}
    </span>
  </template>
</Widget>